- page_title!('Creando contacto')

#region-contactos.container

  .region
    .region-title
      %h1.title
        contacto
  .region-contactos-info
    = image_tag image_path('clip.png')
    %h3
      .datos
        t&eacute;lefono: 
        %span
          12345678
        %br
        celulares:
        %span
          988765421
        %br
        e-mail:
        %span
          info@soniemperu.com
  .region-form-contacto.white
    = render 'form'

