#region-directivos.container
  .region
    %p
      %b Nombre:
      = directivo.nombre
    %p
      %b Cargo:
      = directivo.cargo
    %p
      %b Foto:
      = image_tag directivo.foto_url(:circle)

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_directivo_path(directivo), class: 'btn btn-success'
