- page_title!('Creando directivo')

#region-directivos.container

  .region
    .region-title
      %h1
        Creando
        %b
          directivo

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
