- page_title!('Editando noticia')

#region-noticias.container

  .region
    .region-title
      %h1
        Editando
        %b
          noticia

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @noticia, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
