#region-noticias.container

  .region
    .region-title
      %h1.title
        = page_title!('noticias')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Noticia', new_noticia_path, class: 'btn btn-primary'
    .region-inner
      #noticias
        %ul.noticias-list
          = render @noticias
    = paginate @noticias
