- page_title!('Creando noticia')

#region-noticias.container

  .region
    .region-title
      %h1
        Creando
        %b
          noticia

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
