#region-noticias.container
  .region
    .region-title
      %h1.title
        = page_title!(@noticia.titulo)

  .region-info-noticia
    .arrow
      =image_tag image_path('red-arrow.png'), class: 'img-responsive'
    .info
      = @noticia.contenido
      .compartir
        =link_to 'www.facebook.com' do
          %span
            COMPARTIR
          =image_tag image_path ('facebook-share.png')

  .region-img-noticia  
    %p
      - @noticia.imagenes.each do |imagen|
        = image_tag imagen.imagen_url(:full), class: 'img-responsive'

  .clear
  .wrapper  
    .region-comentarios
      %h2.titulo
        COMENTARIOS
      =render 'fb_plugin'
    .region
      - if current_admin
        .admin-controls
          = link_to 'Editar', edit_noticia_path(@noticia), class: 'btn btn-success'
