=image_tag(image_path('fondoabajo.png'), class: 'background')
#carousel-generic-2.carousel.slide

  %ol.carousel-indicators
    - @slides.each_with_index do |slide, index|
      - if index == 0
        %li.active{:'data-target' => '#carousel-generic-2', :'data-slide-to' => index}
      - else
        %li{:'data-target' => '#carousel-generic-2', :'data-slide-to' => index}
  .carousel-inner
    - @slides.each_with_index do |slide, index|
      - if index == 0
        .item.active
          .carousel-caption
            %p
              = slide.titulo if slide.titulo
      - else
        .item
          .carousel-caption
            %p
              = slide.titulo if slide.titulo


