#carousel-generic.carousel.slide

  %ol.carousel-indicators
    - @slides.each_with_index do |slide, index|
      - if index == 0
        %li.active{:'data-target' => '#carousel-generic', :'data-slide-to' => index}
      - else
        %li{:'data-target' => '#carousel-generic', :'data-slide-to' => index}
  .carousel-inner
    - @slides.each_with_index do |slide, index|
      - if index == 0
        .item.active
          = image_tag slide.imagen_url(:full)
          .carousel-caption
            %p
              = slide.titulo if slide.titulo
      - else
        .item
          = image_tag slide.imagen_url(:full)
          .carousel-caption
            %p
              = slide.titulo if slide.titulo


