=image_tag(image_path('fondoabajo.png'), class: 'background')
#carousel-generic-2.carousel.testimonio

  %ol.carousel-indicators
    - @testimonios.each_with_index do |testimonio, index|
      - if index == 0
        %li.active{:'data-target' => '#carousel-generic-2', :'data-testimonio-to' => index}
      - else
        %li{:'data-target' => '#carousel-generic-2', :'data-testimonio-to' => index}
  .carousel-inner
    - @testimonios.each_with_index do |testimonio, index|
      - if index == 0
        .item.active
          .carousel-caption
            %p
              = testimonio.mensaje
            %h3
              = testimonio.nombre
      - else
        .item
          .carousel-caption
            %p
              = testimonio.mensaje
            %h3
              = testimonio.nombre


