- page_title!('Creando evento')

#region-eventos.container

  .region
    .region-title
      %h1
        Creando
        %b
          evento

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
