- page_title!('Editando comunicado')

#region-comunicados.container

  .region
    .region-title
      %h1
        Editando
        %b
          comunicado

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
