#region-Afiliacion.container
  .region
    .region-title
      %h1.title= page_title!('Afiliación')

  .region-afiliacion.container
    .region-afilicion-descripcion
      .arrow
        =image_tag image_path('red-arrow.png'), class: 'img-responsive'
      %p.info
        SONIEM gestiona es decir, administra y distribuye entre sus afiliados las regalías por la comunicación pública(difusión en radios, locales, discotecas, etc.) de las interpretaciones y/o ejecuciones musicales que hayan sido fijadas(grabadas) en fonogramas(discos, CD, Cassettes, etc) o en obras o grabaciones audiovisuales (DVD) para fines comerciales.

        Es muy importante señalar que SONIEM, no gestiona remuneraciones, regalías por actuaciones en vivo, composición, venta, arreglos musicales, producción.

        Si un músico no ha grabado discos que suenen en los medios masivos de comunicación no genera regalías por comunicación pública, en caso contrario es decir si ha grabado discos que estén sonando en los medios o han sonado en años anteriores si genera regalías.

    .region-requisitos
      %h1 requisitos
      .arrow
        =image_tag image_path('red-arrow.png'), class: 'img-responsive'
      %p.info
        Presentación de una producción discográfica.
        Fotocopia de DNI.
        3 fotos tamaño carnet o pasaporte.

        Para solicitar la afiliación se precisarán estos documentos y soportes musicales.

        Una vez presentada la solicitud, esta es atendida por la Comisión de Admisión,
        cuando el solicitante ha sido aceptado en SONIEM, deberá acercarse a la oficina
        para abonar los S/.50.00 del derecho de inscripción, firmar el Libro Padrón de Miembros
        y el Contrato de adhesión.
    .region-requisitos
      %h1 ventajas
      .arrow
        =image_tag image_path('red-arrow.png'), class: 'img-responsive'
      %p.info
        DEFENDEMOS TUS DERECHOS
        SONIEM defiende los derechos que la ley otroga a los artistas intérpretes o ejecutantes ante todos los usuarios
        y empresas por la explotación de sus interpretaciones musicales.

        REPARTO EQUITATIVO
        Formar parte de SONIEM y registrar tu repertorio, te permitirá percibir los ingresos generados por la explotación
        de tus derechos reconocidos en la ley, con rapidez y eficacia.

        ASESORIA LEGAL
        SONIEM, con la intención de prestar un servicio integral, ofrece a sus asociados la posibilidad de ayudarles en las
        consultas jurídicas sobre propiedad intelectual y sobre la gestión de los derechos de los artistas.


    .region-asociados
      %h1
        nuestros asociados
