#region-fotografias.container
  .region
    .region-title
      %h1= page_title!('fotografia')

  .region
    %p
      %b Fotografia:
      = @fotografia.fotografia

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_fotografia_path(@fotografia), class: 'btn btn-success'
    = link_to 'Regresar', fotografias_path, class: 'btn btn-warning'
