body,h1,h2,h3,h4,h5,h6{font-family: 'Oswald';}

body{background-color: $white;}

h1,h2,h3,h4,h5,h6{color: $gray; text-transform: uppercase; span{color:$black;}}

p {font-family: 'Muli'}

a {text-decoration: none; font-size: 16px; color: $black;}
a:hover{text-decoration: none;}

ul li{list-style: none;}

.titulo p{font-family: 'Oswald' !important; text-transform: uppercase;}
.slider-footer p{font-family: 'Muli'; font-weight: '300italic'; font-size: 36px !important;}
