/*HEADER*/

#region-header-information{
  background-color: $black;
  color: white;
  padding: 3px 0px;
  text-align: right;
  .container div{
    display:inline-block;
    margin-right: 10px;
  }
  .socios{text-transform: uppercase; background-color: $red; padding:6px 20px;}

}

#navigation{
  background-color: white;
  .navbar-nav{
    margin: 3em 0 0 7em;
  }
  ul li a{
  text-transform: uppercase;
  color: $black;
  }

  ul li:hover{
  border-bottom: 2px solid $red;
  }

  ul li a:hover{
  background-color: white;
  color: $red;
  }

}

#carousel-generic-2 {
    background-image: url("/assets/background-image.png");
      background-position: center center;
        background-repeat: no-repeat;
          background-size: cover;
            height: 27em;
              width: 100%;

.carousel-caption{font-style: italic; font-weight: 300;left: 0px; right: 0px; position: relative !important;
p{
margin-top: 40px;
}
}
            }

.carousel-inner{
.active img{
width:100%;
}
}


#region-Inicio{
  .region-inicio-info{
    h1{margin-bottom: 20px;}
    margin-top: 30px;
    margin-bottom: 50px;
    .quienes-somos{
      .arrow{
      }
      .info{
      }
    }
    .noticias{
      .info-noticias{
      display: inline-block;
      width: 48%;
      float:left;
      }
      .noticias-left{
      background-color: white;
      padding-left: 15px;
      min-height: 256px;
      max-height: 256px;
      }
      .noticias-right{
      .triangulo{position:absolute; z-index: 5; margin-left:-1px;}
      }
    }
  }
  .region-inicio-eventos{
    margin-bottom: 20px;
    .evento{background-color: white;height: 9em;padding-top: 10px;
      .fecha span{
        font-size: 4em;
      }
      .descripcion{
        margin-top: 30px;
      }
    }
  }

  .container-banner {
    margin-top: 30px;
    }

  .region-facebook{
  background-color:white;
  }
}

/*Cuerpo*/

/*General*/
.clear{clear:both;}
.region-title{
margin-bottom: 15px;
}
.title{
background-color: white;
color: $gray;
padding: 30px 20px;
}
.leer-mas{span{color:$red;}}
.region-title{padding-left: 15px; padding-right: 15px;}
.white{background-color: white;}
.admin-control{margin-bottom: 10px;}

/*Socios*/
#region-socios{
  .region-socios{
    background-color: white;
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    img{margin-right: 10px;}
  }
  .region-socios > a{
  text-transform: capitalize;
  }
  .contacto{span{color: $red;}}

  .region-inicio-eventos{
    margin-bottom: 20px;
    .evento{background-color: white;height: 9em;padding-top: 10px;
      .fecha span{
        font-size: 4em;
      }
      .descripcion{
        margin-top: 30px;
      }
    }
  }
  .audiojs{margin-bottom: 10px;}
  .table{
  text-align: center;
  .title{font-size: 2em; font-weight:lighter;}
  .name{width:50%; text-align: left;}
  }
}

/*COMUNICADOS*/

.region-comunicados{
height: 180px;
margin-top: 15px;
margin-bottom: 15px;
.white{
  color: $gray;
  padding: 20px;
  height: 180px;
}
.leer-mas{
  bottom: 10px;
  position: absolute;
  }
}


/*Ubicacion*/
.region-ubicacion-info{
  width: 50%;
  margin: 20px auto 30px;
  background-color: white;
  text-align: center;

  img{diplay: inline-block; vertical-align: baseline; margin-right: 10px;}
  h3{width: 276px; display: inline-block; text-align: left;}
}

/*Contactos*/
#region-contactos{
.region-form-contacto{
  margin: 0 auto 20px;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  width:70%;
}
.region-contactos-info{
background-color: white;
width: 70%;
margin: 20px auto;
text-align: center;

img{diplay: inline-block; vertical-align: baseline; margin-right: 10px;}
h3{width: 350px; display: inline-block; text-align: left;}
}
label{margin-bottom: 5px;}
.btn{color: $red; border: 1px solid $red; text-align: right;}
.actions {margin-right: 20px; text-align: right;}
.form-group{width: 100%;}
}

/*NOTICIAS*/
.region-noticias{
margin-bottom: 30px;
.triangulo{position:absolute; margin-left: 25px;margin-top: -19px;}
.region-noticias-info{
background-color: white;
height: 100px;
padding: 20px;
img{display:inline-block;vertical-align: top;}
}
h5{width:80%; display: inline-block;}
}
.region-comentarios{margin-top: 5em; margin-bottom: 3em;}
.arrow{margin-top: 5px;}
.info {font-family: 'Muli';
  .compartir{ font-family: 'Oswald'; margin-top: 20px;span{color: $red;}}
}

#footer{
  padding: 10px 5px;
}

/*DIRECTIVOS*/
#region-directivos{
.director{
        margin-bottom: 50px;
            margin-top: 70px;
                padding-bottom: 10px;
                    text-align: center;
  img{
      margin-top: -50px;
 }
 .sub{
  padding-bottom: 30px;
 }
}
}

/*INFORMACIONES*/
#region-informaciones{
.region-informacion{padding-right: 30px;}
.region-sidebar{
  
  .sidebar-links{
    display: inline-block;
  }
}

}
