- page_title!('Editando testimonio')

#region-testimonios.container

  .region
    .region-title
      %h1
        Editando
        %b
          testimonio

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @testimonio, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
