
#region-header-information
  .container
    .telefono
      TEL.: 637.8272 | 637.8273
    .mail
      =mail_to '#' do
        =image_tag image_path('mail.png')
    .facebook
      =link_to 'www.facebook.com' do
        =image_tag image_path('facebook.png')
    .twitter
      =link_to 'www.facebook.com' do
        =image_tag image_path('twitter.png')
    .socios
      %button
        Socios
    .socios-login
      .form-group
        %form
          %label
            search
          %input 


:javascript
  $(document).ready(function(){
    //$( '.button' ).click(function() {
    alert('hola');
      /*$( '.socios-login' ).animate({
        width: "toggle",
        height: "toggle"
        }, 1000, function() {
      // Animation complete.
        });*/
    //});
  });
