#region-header-information
  .container
    .telefono
      TEL.: 637.8272 | 637.8273
    .mail
      =mail_to '#' do
        =image_tag image_path('mail.png')
    .facebook
      =link_to 'www.facebook.com' do
        =image_tag image_path('facebook.png')
    .twitter
      =link_to 'www.facebook.com' do
        =image_tag image_path('twitter.png')
    .socios
      Socios
