#informacion
  -#%h2.title= @informacion.titulo
  = image_tag @informacion.foto_url(:full), class: 'img-responsive'
  .informacion
    .arrow
      =image_tag image_path('red-arrow.png')
    %p
      = @informacion.descripcion
  .compartir
    =link_to 'www.facebook.com' do
      %span COMPARTIR
      =image_tag image_path('facebook-share.png')
